@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px); /* Adjust the distance as needed */
    }
  }
  
  .animate-up-down {
    animation: moveUpDown 3s ease-in-out infinite; /* Adjust the duration and timing function as needed */
  }